body {
    background-image: linear-gradient(to top, #fafa9b, #f893bd);
    min-height: 100vh;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

.chuva {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
    
}

/* Estilo de cada coração  */
.coracao-caindo {
    position: absolute;
    top: -20px;
    animation: cair linear infinite;
    /* Faz a animação "cair" ser infinita */
}

/* A animação de queda */
@keyframes cair {
    to {
        transform: translateY(105vh);
    }
}

.img-cinna {
    position: absolute; 
    top: 30px;
    right: -7px;
    z-index: 5;

}


.img-hello {
    position: absolute; 
    top: 0px;
    left: -7px;     
    z-index: 5;

}




h1 {
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow',
        Arial, sans-serif;

    -webkit-text-stroke-width: 1px;
    /* largura da borda */
    -webkit-text-stroke-color: #00000000;
    /* cor da borda */
    text-align: center;
}

p {
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow',
        Arial, sans-serif;

    -webkit-text-stroke-width: 1px;
    /* largura da borda */
    -webkit-text-stroke-color: #00000000;
    /* cor da borda */
    text-align: center;
}


.topo {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #f893bd;
    margin: 0;
    padding: 15px 0;

}

.menu-abas {
    background-color: #fce4b4;
    display: flex;
    gap: 20px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 0 0 20px 20px;
    margin-bottom: 40px;
    justify-content: center;

}


.aba {
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
}

.aba.ativa {
    color: #f893bd;
}

.quadrado_meio {

    background-color: #fce4b4;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centraliza tudo que está dentro dele horizontalmente */
    gap: 20px;
    padding: 30px;
    border: 2px solid black;
    border-radius: 0 0 20px 20px;
    max-width: 600px;
    margin: 0 auto 40px auto;
    

}

.quadradinho_resultados {
    background-color: #f893bd;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
    padding: 10px 250px;
    border: 2px solid black;


}

input {
    width: 80%;
    padding: 8px;
    border: 2px solid #f893bd;
    background-color: #fafa9b;
   
   
}


.centralizar-botao {
    display: flex;
    flex-direction: column;
    /* Empilha os itens um embaixo do outro */
    align-items: center;
    /* Centraliza horizontalmente  */
    justify-content: center;
    /* Centraliza verticalmente */
    gap: 15px;
}



button {
    background-color: #f893bd;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 200px;
    height: 200px;
    cursor: pointer;
    transition: transform 0.2s;
    clip-path: path('M96 170.8L84.4 160.2C43.2 122.8 16 98.2 16 68C16 43.4 35.4 24 60 24c14 0 27.2 6.4 36 16.8C104.8 30.4 118 24 132 24C156.6 24 176 43.4 176 68c0 30.2-27.2 54.8-68.4 92.4L96 170.8z');
}

button:hover {
    transform: scale(1.1);
}



.cor_rosa {
    color: #fafa9b;
}